@model IEnumerable<InternetBankingDal.Payments>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentCompanies.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyClientIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inforamation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentCompanies.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyClientIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inforamation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
