@model InternetBankingDal.Accounts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Accounts</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.aspnet_Users.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.aspnet_Users.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ammount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ammount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OverdraftLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OverdraftLimit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
