@model InternetBankingDal.Accounts

@{
    ViewBag.Title = "Детальная информация по счету";
}


<h2>Подробнее о счете</h2>

<fieldset>
    <legend></legend>

    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.AccountType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountType.Name)
    </div>
    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field" >
        @Html.DisplayFor(model => model.Number)
    </div>
    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.Ammount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ammount)
    </div>
    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.Currency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Currency)
    </div>
    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.Cards)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cards.Count)
    </div>
    
    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label" style="color: Black;">
        @Html.DisplayNameFor(model => model.OverdraftLimit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OverdraftLimit)
    </div>
</fieldset>
<p style="color: Black;">
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.AccountId }) |*@
    @Html.ActionLink("Назад к спику", "Index")
</p>
