@model IEnumerable<InternetBankingDal.Cards>

@{
    ViewBag.Title = "Мои карты";
}

<h2>Мои карты</h2>
<hr/>

<p>
   @* @Html.ActionLink("Создать", "Create")*@
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Number) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accounts.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
   </tr>
   </thead>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts.AccountType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserSignature)
        </td>
        <td>
            @Html.DisplayName(new InternetBankingDal.EnumHelper().GetDisplayName((InternetBankingDal.CardState)item.State).ToString())
        </td>
        <td>
            @*@Html.ActionLink("Редактировать", "Edit", new {id = item.CardId}) |*@
            @Html.ActionLink("Подробнее", "Details", new {id = item.CardId}) 
            @*@Html.ActionLink("Удалить", "Delete", new {id = item.CardId})*@
        </td>
    </tr>
}

</table>
